
@{
    ViewBag.Title = "About";
}


<!DOCTYPE html>
<html>

<head>
    <title>About</title>

    <link href="~/Content/User/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/User/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/User/css/animate.css" rel="stylesheet">
    <link href="~/Content/User/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="text-center article-title">
                            <h1>
                                We help the students to solve the Parking problems
                            </h1>
                        </div>
                        <p>
                            IN ORDER TO MAINTAIN THE GOOD TEACHING WORK AND LIFE ORDER OF THE CAMPUS, ENSURE THE PERSONAL SAFETY OF TEACHERS AND STUDENTS AND THE SAFETY OF CAMPUS PROPERTY, REDUCE ALL KINDS OF ACCIDENTS, BUILD A GOOD CAMPUS ENVIRONMENT AND PARKING ORDER, IN COMBINATION WITH THE ACTUAL SITUATION OF MY CAMPUS, THE FORMULATION OF THE PROVISIONS OF THE SCHOOL DISTRICT VEHICLE MANAGEMENT.
                        </p>
                        <p>
                            ALL ENTERING THE GATE OF MOTOR VEHICLES (INCLUDING MOTORCYCLES, ELECTRIC CARS) MUST BE DECELERATING, VEHICLES ENTERING THE CAMPUS, HONKING, DRIVING SPEED NOT EXCEEDING 10 KM / HOUR, NO OVERTAKING. IN THE CASE OF THE STUDENT CLASS RUSH, THE VEHICLE SHOULD TAKE THE INITIATIVE TO AVOID.
                        </p>
                        <p></p>
                        <hr>
                        <button class="btn btn-primary" onclick="window.location.href='/Home/Contact'">Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/User/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Content/User/js/bootstrap.min.js?v=3.3.6"></script>

    <script src="~/Content/User/js/content.js?v=1.0.0"></script>

</body>

</html>
