@{
    ViewBag.Title = "About Us";
}
<link href="~/Content/css/About.css" rel="stylesheet" />

<div id="wrap">
    <div class="head">
        <div id="head-img">
            <img src="~/Content/img/07.jpg" />
        </div>
        <div class="head-title">
            <h2>We help the students to solve the</h2><br />
            <h1><span style="color: red;">Parking</span>  problems</h1>
        </div>
    </div>
    <div class="content">
        <div class="left-new">
            <h2>School campus vehicle management regulations</h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;In order to maintain the good teaching work and life order of the campus,
                ensure the personal safety of teachers and students and the safety of campus property,
                Reduce all kinds of accidents, build a good campus environment and parking order,
                In combination with the actual situation of my campus,
                the formulation of the provisions of the school district vehicle management.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All entering the gate of motor vehicles
                (including motorcycles, electric cars) must be decelerating,
                Vehicles entering the campus, honking, driving speed not exceeding 10 km / hour, no overtaking.
                In the case of the student class rush, the vehicle should take the initiative to avoid.
            </p>
        </div>
        <div class="right-img">
            <img src="~/Content/img/08.jpg" />
        </div>
    </div>
    <div class="menu">
        <a href="/">Home</a>
    </div>
    <div class="contact">
        <a href="/Home/Contact">Contact</a>
    </div>
</div>